<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} Easy Apply</title>
    <link rel="icon" type="image/x-ixon" href="{{ url_for('static', filename='feather-solid.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav>
      <div class="logo">
        <h1>EasyApply</h1>
      </div>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="nav-links">
        <ul>
          {% if user %}
            <li><a href="{{ url_for('profile.index') }}">Home</a>
            <li><a href="{{ url_for('profile.apply') }}">Apply</a>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
        </ul>
      </div>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
  </body>
</html>