{% extends 'base.html' %}

{% block header %}
<h1>Start Applying for Jobs Now!</h1>
{% endblock %}

{% block content %}
    <form id="applyform" method="post">
        <label for="link">Job Link</label> 
        <input type="url" name="link" id="link">
        <label for="paste">Paste a Job Description</label>
        <textarea name="paste" id="paste"></textarea>
        <label for="resume">Choose a Resume:</label>
        <select name="resume" id="resume" form="applyform">
            {% for resume in resumes%}
                <option value="{{ resume.for_role }}">{{resume.for_role }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Prepare Application">
    </form>
    
    

    <hr>
    <h3>My Applications</h3>
    {% for application in applications %}
        <button type="button" class="collapsible">{{application.company}} - {{ application.role }}</button>
        <div class="col-content">
            <div class="col-jobdeets">
                <h3>{{ application.role }} </h3>
                <p>Company - {{ application.company }}</p>
                <p>Location - {{ application.location }}</p>
                <p>Link - <a href="{{ application.link }}" target="_blank">Open Job In New Tab</a></p>
                <br>
                <h3>Description</h3>
                <p>{{ application.summary }}</p>
            </div>
            <br>
            <br>
            <div class="col-button">
                {% if application.resume_file_path is none %}
                    <a class="action" href="{{ url_for('profile.start_application', id=application.id) }}">Prepare Application</a>
                {% else %}
                    <a class="action" href="{{ url_for('profile.update_application', id=application.id) }}">View and Edit</a>
                {% endif  %}
            </div>
        </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='apply.js') }}"></script>
{% endblock %}