{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Applications{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="link">Job Link</label> 
        <input type="url" name="link" id="link">
        <label for="paste">Paste a Job Description</label>
        <textarea name="paste" id="paste"></textarea>
        <input type="submit" value="Apply for Job">
    </form>
    
    <hr>
    <h3>Applications</h3>
    {% for application in applications %}
        <button type="button" class="collapsible">{{application.company}} - {{ application.role }}</button>
        <div class="col-content">
            <h3>{{ application.role }} </h3>
            <p>{{ application.company }}</p>
            <p>{{ application.location }}</p>
            <br>
            <h3>Description</h3>
            <p>{{ application.description }}</p>
            <br>
            <br>
            {% if application.resume_file_path is none %}
                <a class="action" href="{{ url_for('profile.start_application', id=application.id) }}">Prepare Application</a>
            {% else %}
                <a class="action" href="{{ url_for('profile.update_application', id=application.id) }}">View and Edit</a>
                <a class="action" href="{{ url_for('profile.resume_dl', id=application.id) }}">Download Resume</a>
                <a class="action" href="{{ url_for('profile.coverletter_dl', id=application.id) }}" download>Download Cover Letter</a>
                <a class="action" href="{{ url_for('profile.regenerate', id=application.id) }}">Regenarate Docs</a>
            {% endif  %}
        </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='apply.js') }}"></script>
{% endblock %}