{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Resume{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" id="createForm">
    <label for="role">Role</label>
    <input name="role" id="role" placeholder="what role is this resume for">
    <label for="name">Name</label>
    <input name="name" id="name" placeholder="name">
    <label for="email">email</label>
    <input name="email" id="email" placeholder="email">
    <label for="phone">Phone</label>
    <input name="phone" id="phone" placeholder="phone">
    <label for="address">Address</label>
    <input name="address" id="address" placeholder="address">
    <label for="link">link</label>
    <input name="link" id="link" placeholder="link">
    <label for="summary">summary</label>
    <textarea name="summary" id="summary">{{ request.form['summary'] }}</textarea>
    <label for="skills">skills</label>
    <textarea name="skills" id="skills">{{ request.form['skills'] }}</textarea>
    <input type="submit" id="save" value="Save">
  </form>
  <div class="create-resume-btns">
    <button class="add" id="addWE">Add Work Experience</button>
    <button class="add" id="addEd">Add Education</button>
    <button class="add" id="addCert">Add Certification</button>
    <button class="add" id="addProj">Add Projects</button>
  </div>
  <script src="{{ url_for('static', filename='create.js') }}"></script>
{% endblock %}