{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit - {{ resume.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">name</label>
    <input name="name" id="name" value="{{ resume.name }}">
    <label for="email">email</label>
    <input name="email" id="email" value="{{ resume.email }}">
    <label for="phone">phone</label>
    <input name="phone" id="phone" value="{{ resume.phone }}">
    <label for="address">address</label>
    <input name="address" id="address" value="{{ resume.address }}">
    <label for="link">link</label>
    <input name="link" id="link" value="{{ resume.link }}">
    <label for="summary">summary</label>
    <textarea name="summary" id="summary">{{ resume.summary }}</textarea>
    <label for="skills">skills</label>
    <textarea name="skills" id="skills">{{ resume.skills }}</textarea>
    {% if workexperiences %}
    <h2>Work Experince</h2>
      {% for we in workexperiences %}
        <h3>{{ we.title }}</h3>
        <label for="WEtitle{{we.id}}">title</label>
        <input name="WEtitle{{we.id}}" id="title" value="{{ we.title }}">
        <label for="WEcompany{{we.id}}">company</label>
        <input name="WEcompany{{we.id}}" id="company" value="{{ we.company }}">
        <label for="WElocation{{we.id}}">location</label>
        <input name="WElocation{{we.id}}" id="location" value="{{ we.location }}">
        <label for="WEstart_date{{we.id}}">start_date</label>
        <input name="WEstart_date{{we.id}}" id="start_date" value="{{ we.start_date }}">
        <label for="WEend_date{{we.id}}">end_date</label>
        <input name="WEend_date{{we.id}}" id="end_date" value="{{ we.end_date }}">
        <label for="WEsummary{{we.id}}">summary</label>
        <textarea name="WEsummary{{we.id}}" id="summary">{{ we.summary }}</textarea>
        <label for="WEresponsibil{{we.id}}">responsibil</label>
        <textarea name="WEresponsibil{{we.id}}" id="responsibil">{{ we.responsibil }}</textarea>
      {% endfor %}
    {% endif %}
    {% if educations %}
    <h2>Education</h2>
      {% for ed in educations %}
        <h3>{{ ed.degree }}</h3>
        <label for="EDdegree{{ed.id}}">degree</label>
        <input name="EDdegree{{ed.id}}" id="degree" value="{{ ed.degree }}">
        <label for="EDinstitution{{ed.id}}">institution</label>
        <input name="EDinstitution{{ed.id}}" id="institution" value="{{ ed.institution }}">
        <label for="EDlocation{{ed.id}}">location</label>
        <input name="EDlocation{{ed.id}}" id="location" value="{{ ed.location }}">
        <label for="EDgraduation_date{{ed.id}}">graduation_date</label>
        <input name="EDgraduation_date{{ed.id}}" id="graduation_date" value="{{ ed.graduation_date }}">
      {% endfor %}
    {% endif %}
    {% if certifications %}
    <h2>Certifications</h2>
      {% for cert in certifications %}
        <h3>{{ cert.title }}</h3>
        <label for="CTtitle{{cert.id}}">title</label>
        <input name="CTtitle{{cert.id}}" id="ctitle" value="{{ cert.title }}">
        <label for="CTissuer">issuer</label>
        <input name="CTissuer{{cert.id}}" id="issuer" value="{{ cert.issuer }}">
        <label for="CTdate_obtained{{cert.id}}">title</label>
        <input name="CTdate_obtained{{cert.id}}" id="date_obtained" value="{{ cert.date_obtained }}">
      {% endfor %}
    {% endif %}
    {% if projects %}
    <h2>Projects</h2>
      {% for proj in projects %}
      <h3>{{ proj.title }}</h3>
      <label for="PJtitle{{proj.id}}">title</label>
      <input name="PJtitle{{proj.id}}" id="ptitle" value="{{ proj.title }}">
      <label for="PJdescription{{proj.id}}">description</label>
      <input name="PJdescription{{proj.id}}" id="description" value="{{ proj.description }}">
      <label for="PJurl{{proj.id}}">url</label>
      <input name="PJurl{{proj.id}}" id="url" value="{{ proj.url }}">
      {% endfor %}
    {% endif %}
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('profile.deleted', id=resume.id) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}