{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ application.company }} {{ application.role }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <iframe srcdoc="{{ resume_html }}"></iframe>
  <iframe srcdoc="{{ coverletter_html }}"></iframe>
  <form method="post">
    <label for="skills">skills</label>
    {% for skill in resume_skills %}
      <input name="skill{{skill[0]}}" value="{{ skill[1] }}">
    {% endfor %}
    <h2>Cover Letter</h2>
    <label for="intro">intro</label>
    <textarea name="intro" id="intro">{{ cover_letter_data['intro'] }}</textarea>
    <label for="lead_in">lead_in</label>
    <textarea name="lead_in" id="lead_in">{{ cover_letter_data['lead_in'] }}</textarea>
    <label for="points">points</label>
    {% for point in cover_letter_data.points %}
      <textarea name="point{{point[0]}}" id="point">{{ point[1] }}</textarea>
    {% endfor %}
    <label for="outro">outro</label>
    <textarea name="outro" id="outro">{{ cover_letter_data['outro'] }}</textarea>
    <input type="submit" value="Save and Regenerate Docs">
  </form>
  <hr>
  <a class="action" href="{{ url_for('profile.resume_dl', id=application.id) }}">Download Resume</a>
  <a class="action" href="{{ url_for('profile.coverletter_dl', id=application.id) }}" download>Download Cover Letter</a>
  <form action="{{ url_for('profile.delete_app', id=application.id) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}