html { font-family: sans-serif; background: #eee; padding: 2rem; }
body { max-width: 960px; margin: 0 auto; background: white; border-radius: 10px;}
h1 { font-family: sans-serif; color: #377ba8; margin: 1rem 0; }
h3 {
    font-family: sans-serif; 
    color: #000; 
    margin: 1rem;
}
a { color: #377ba8; }
.action {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background-color: #444;
    color: #eee;
    width: 50%;
}

.action:hover {
    background-color: lightgray;
    color: #444;
}
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; border-radius: 10px;}
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; border-radius: 10px;}
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; border-radius: 10px;}
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }

iframe {
    width: 90%;
    height: 50vh;
    margin: 20px;
    border-radius: 10px;
}

input {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

input[type=submit] { 
    align-self: start; 
    min-width: 10em; 
    background-color: #ccc;
    color: #444;
    border-color: #444;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
}

textarea {
    align-self: start; 
    width: 90%; 
    background-color: #eee;
    color: #444;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
}

input[type=submit]:hover {
    background-color: #eee;
}
.collapsible {
    background-color: #eee;
    color: #444;
    border-radius: 10px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #ccc;
}
.col-content {
    padding: 0 18px;
    margin-left: 18px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

button {
    background-color: #ccc;
    color: #444;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
}

button:hover {
    background-color: #eee;
}

.paste {
    height: 100px;
}