@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap');

:root {
    --mainColor: white;
    --hoverColor: white;
    --backgroundColor: white;
    --darkOne: white;
    --darktwo: white;
    --lightOne: white;
    --lightTwo: white;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-family: 'Poppins', sans-serif; 
    background: white; 
    padding: 2rem;
}

body { 
    max-width: 89rem; 
    margin: 0 auto; 
    background: white; 
    border-radius: 10px;
}

h1 { 
    color: #000;  
}

h3 {
    color: #000; 
    margin: 0 2rem;
}

p {
    margin: 0 2rem;
}

form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem 2rem;
    padding: 0 1rem 1rem 1rem;
}
label {
    padding: 0.5rem 0;
    margin: 0.5rem 0; 
}

input, textarea, select {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border-color: #444;
    padding: 0.5rem;
    margin: 0.5rem 0;
    height: 3rem;
}

textarea {
    font-size: 105%;
    min-height: 18rem;
    resize: vertical;
}

input[type=submit] {
    font-family: 'Poppins', sans-serif;
    align-self: start; 
    min-width: 10em; 
    background-color: #ccc;
    color: #444;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    transition: 0.3s;
}

input[type=submit]:hover {
    background-color: #eee;
    transform: scale(1.05);
}

a { 
    color: #377ba8; 
}

.action {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    background-color: #444;
    color: #eee;
    width: 50%;
    text-decoration: none;
    transition: 0.3s;
}

.action:hover {
    background-color: lightgray;
    color: #444;
    transform: scale(1.05);
}

hr { 
    border: none; 
    border-top: 1px solid lightgray; 
}

nav { 
    background: lightgray; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding: 0 0.5rem; 
    border-radius: 10px;
    width: 100%;
    height: 80px;
}

nav h1 { 
    flex: auto; 
    margin: 0 1rem; 
}

nav ul  { 
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
nav ul li a, 
nav ul li span, 
header { 
    display: block; 
    text-decoration: none;
    color: #000;
    padding: 2rem; 
    transition: 0.3s;
}

nav ul li a:hover {
    color: #444;
    transform: scale(1.1);
}

.content { 
    padding: 0 1rem 1rem; 
    border-radius: 10px;
}

.content header {
    padding: 1rem;
    margin: 2rem;
}

.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }

input.danger { color: #cc2f2e; }

iframe {
    width: 90%;
    height: 50vh;
    margin: 20px;
    border-radius: 10px;
    resize: vertical;
}

.collapsible {
    font-family: 'Poppins', sans-serif; 
    position: relative;
    z-index: 2;
    background-color: #eee;
    color: #444;
    border-radius: 10px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin: 1rem 4rem 1rem 0rem;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.col-content {
    position: relative;
    top: -20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 18px;
    margin: 0 3rem 0 1rem;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 8px;
}

.col-jobdeets {
    margin-top: 2rem;
    width: 75%;
}

.col-button {
    width: 35%;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

button {
    background-color: #ccc;
    color: #444;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
}

button:hover {
    background-color: #eee;
}

.paste {
    height: 100px;
}

.newResume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.resumeDisplay {
    margin: 1rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add {
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

.add:hover {
    transform: scale(1.05);
}

.update-app-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-resume-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-header {
    text-align: center;
}

.newResume {
    margin-bottom: 2rem;
}

.loading-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to right top, #ccc, #444);
    max-width: fit-content;
    margin: 3rem auto;
    border-color: #000;
    border-width: 5px;
    border-style: solid;
    border-radius: 4rem;
    padding: 2rem;
    font-weight: 700;
}

#loading-img {
    margin: 2rem;
    width: 5rem;
    height: 5rem;
    animation: loadingIcon 1s ease-out 0s infinite normal none;
}

@keyframes loadingIcon {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}